.context-menu
    position: fixed
    background: var(--popover-bg-color)
    color: var(--popover-fg-color)
    display: none

.context-menu-item
    padding: 4px 8px
    cursor: pointer

    &:hover
        background: var(--accent-bg-color)
        color: var(--accent-fg-color)