@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --rosewater-color: #dc8a78;
  --flamingo-color: #dd7878;
  --pink-color: #ea76cb;
  --mauve-color: #8839ef;
  --red-color: #d20f39;
  --maroon-color: #e64553;
  --peach-color: #fe640b;
  --yellow-color: #df8e1d;
  --green-color: #40a02b;
  --teal-color: #179299;
  --sky-color: #04a5e5;
  --sapphire-color: #209fb5;
  --blue-color: #1e66f5;
  --lavender-color: #7287fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater-color: #f5e0dc;
    --flamingo-color: #f2cdcd;
    --pink-color: #f5c2e7;
    --mauve-color: #cba6f7;
    --red-color: #f38ba8;
    --maroon-color: #eba0ac;
    --peach-color: #fab387;
    --yellow-color: #f9e2af;
    --green-color: #a6e3a1;
    --teal-color: #94e2d5;
    --sky-color: #89dceb;
    --sapphire-color: #74c7ec;
    --blue-color: #89b4fa;
    --lavender-color: #b4befe;
  }
}
:root {
  --accent-color: #1c71d8;
  --accent-bg-color: #3584e4;
  --accent-fg-color: #ffffff;
  --destructive-color: #c01c28;
  --destructive-bg-color: #e01b24;
  --destructive-fg-color: #ffffff;
  --success-color: #1b8553;
  --success-bg-color: #2ec27e;
  --success-fg-color: #ffffff;
  --warning-color: #9c6e03;
  --warning-bg-color: #e5a50a;
  --warning-fg-color: rgba(0, 0, 0, 0.8);
  --error-color: #c01c28;
  --error-bg-color: #e01b24;
  --error-fg-color: #ffffff;
  --window-bg-color: #fafafa;
  --window-fg-color: rgba(0, 0, 0, 0.8);
  --view-bg-color: #ffffff;
  --view-fg-color: rgba(0, 0, 0, 0.8);
  --headerbar-bg-color: #ffffff;
  --headerbar-fg-color: rgba(0, 0, 0, 0.8);
  --headerbar-border-color: rgba(0, 0, 0, 0.8);
  --headerbar-backdrop-color: #fafafa;
  --headerbar-shade-color: rgba(0, 0, 0, 0.12);
  --headerbar-darker-shade-color: rgba(0, 0, 0, 0.12);
  --sidebar-bg-color: #ebebeb;
  --sidebar-fg-color: rgba(0, 0, 0, 0.8);
  --sidebar-backdrop-color: #f2f2f2;
  --sidebar-border-color: rgba(0, 0, 0, 0.07);
  --sidebar-shade-color: rgba(0, 0, 0, 0.07);
  --secondary-sidebar-bg-color: #f3f3f3;
  --secondary-sidebar-fg-color: rgba(0, 0, 0, 0.8);
  --secondary-sidebar-backdrop-color: #f6f6f6;
  --secondary-sidebar-border-color: rgba(0, 0, 0, 0.07);
  --secondary-sidebar-shade-color: rgba(0, 0, 0, 0.07);
  --card-bg-color: #ffffff;
  --card-fg-color: rgba(0, 0, 0, 0.8);
  --card-shade-color: rgba(0, 0, 0, 0.07);
  --thumbnail-bg-color: #ffffff;
  --thumbnail-fg-color: rgba(0, 0, 0, 0.8);
  --dialog-bg-color: #fafafa;
  --dialog-fg-color: rgba(0, 0, 0, 0.8);
  --popover-bg-color: #ffffff;
  --popover-fg-color: rgba(0, 0, 0, 0.8);
  --popover-shade-color: rgba(0, 0, 0, 0.07);
  --shade-color: rgba(0, 0, 0, 0.07);
  --scrollbar-outline-color: #ffffff;
  --borders-opacity-regular: 0.15;
  --borders-opacity-high-contrast: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #78aeed;
    --accent-bg-color: #3584e4;
    --accent-fg-color: #ffffff;
    --destructive-color: #ff7b63;
    --destructive-bg-color: #c01c28;
    --destructive-fg-color: #ffffff;
    --success-color: #8ff0a4;
    --success-bg-color: #26a269;
    --success-fg-color: #ffffff;
    --warning-color: #f8e45c;
    --warning-bg-color: #cd9309;
    --warning-fg-color: rgba(0, 0, 0, 0.8);
    --error-color: #ff7b63;
    --error-bg-color: #c01c28;
    --error-fg-color: #ffffff;
    --window-bg-color: #242424;
    --window-fg-color: #ffffff;
    --view-bg-color: #1e1e1e;
    --view-fg-color: #ffffff;
    --headerbar-bg-color: #303030;
    --headerbar-fg-color: #ffffff;
    --headerbar-border-color: #ffffff;
    --headerbar-backdrop-color: #242424;
    --headerbar-shade-color: rgba(0, 0, 0, 0.36);
    --headerbar-darker-shade-color: rgba(0, 0, 0, 0.9);
    --sidebar-bg-color: #303030;
    --sidebar-fg-color: #ffffff;
    --sidebar-backdrop-color: #2a2a2a;
    --sidebar-border-color: rgba(0, 0, 0, 0.36);
    --sidebar-shade-color: rgba(0, 0, 0, 0.25);
    --secondary-sidebar-bg-color: #2a2a2a;
    --secondary-sidebar-fg-color: #ffffff;
    --secondary-sidebar-backdrop-color: #272727;
    --secondary-sidebar-border-color: rgba(0, 0, 0, 0.36);
    --secondary-sidebar-shade-color: rgba(0, 0, 0, 0.25);
    --card-bg-color: rgba(255, 255, 255, 0.08);
    --card-fg-color: #ffffff;
    --card-shade-color: rgba(0, 0, 0, 0.36);
    --thumbnail-bg-color: #383838;
    --thumbnail-fg-color: #ffffff;
    --dialog-bg-color: #383838;
    --dialog-fg-color: #ffffff;
    --popover-bg-color: #383838;
    --popover-fg-color: #ffffff;
    --popover-shade-color: rgba(0, 0, 0, 0.25);
    --shade-color: rgba(0, 0, 0, 0.25);
    --scrollbar-outline-color: rgba(0, 0, 0, 0.5);
  }
}
:root {
  --editor-prefix-color: #aaa;
  --editor-selection-color: #ccc;
  --editor-cursor-color: #000;
  --editor-title-color: #000;
  --editor-subtitle-color: #444;
  --editor-ingredient-color: #555;
  --editor-step-color: #000;
  --editor-description-color: #666;
  --editor-frontmatter-color: #aaa;
  --editor-error-color: #f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --editor-prefix-color: #555;
    --editor-selection-color: #333;
    --editor-cursor-color: #fff;
    --editor-title-color: #fff;
    --editor-subtitle-color: #bbb;
    --editor-ingredient-color: #aaa;
    --editor-step-color: #fff;
    --editor-description-color: #999;
    --editor-frontmatter-color: #555;
    --editor-error-color: #f00;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--color-window-bg);
  color: var(--color-window-fg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.sidebar {
  width: 350px;
  height: 100%;
  overflow-y: auto;
}

.content {
  flex: 1;
  height: 100%;
  overflow-y: hidden;
  background-color: var(--window-bg-color);
  background-image: url(/static/images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
}
.sidebar header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--sidebar-bg-color);
  padding: 1rem;
  height: 4rem;
  box-sizing: border-box;
}
.sidebar header .header-default,
.sidebar header .header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  position: absolute;
  width: calc(100% - 2rem);
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar header .header-search {
  opacity: 0;
  pointer-events: none;
}
.sidebar header.search-mode .header-default {
  opacity: 0;
  pointer-events: none;
}
.sidebar header.search-mode .header-search {
  opacity: 1;
  pointer-events: auto;
}
.sidebar header h1 {
  color: var(--sidebar-fg-color);
  padding: 0;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}
.sidebar header .header-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.sidebar header .search-button,
.sidebar header .add-button,
.sidebar header .close-search-button {
  background: none;
  border: none;
  color: var(--sidebar-fg-color);
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  line-height: 1;
}
.sidebar header .add-button {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.sidebar header .search-input {
  flex: 1;
  margin-right: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  background: var(--popover-bg-color);
  border: none;
  color: var(--popover-fg-color);
  border-radius: 1rem;
  font-size: 0.9rem;
}
.sidebar header .search-input:focus {
  outline: 1px solid var(--accent-bg-color);
}
.sidebar #recipe-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}
.sidebar #recipe-list > .recipe-item {
  margin: 0;
}
.sidebar #recipe-list > .recipe-item .recipe {
  color: var(--sidebar-fg-color);
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
}
.sidebar #recipe-list > .recipe-item .recipe.active {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
.sidebar #recipe-list .category {
  margin: 0;
}
.sidebar #recipe-list .category .category-header {
  color: var(--sidebar-fg-color);
  text-shadow: -1px -1px 0px var(--sidebar-shade-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebar #recipe-list .category .category-header::before {
  content: "▼";
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.7em;
  transition: transform 0.2s ease;
}
.sidebar #recipe-list .category.collapsed .category-header::before {
  transform: rotate(-90deg);
}
.sidebar #recipe-list .category .category-items {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1.1rem;
}
.sidebar #recipe-list .category .category-items .recipe-item {
  margin: 0 1rem 0 0;
}
.sidebar #recipe-list .category .category-items .recipe-item .recipe {
  color: var(--sidebar-fg-color);
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
}
.sidebar #recipe-list .category .category-items .recipe-item .recipe.active {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
.sidebar #recipe-list .category .category-items .subcategory {
  margin: 0;
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-header {
  color: var(--sidebar-fg-color);
  text-shadow: -1px -1px 0px var(--sidebar-shade-color);
  font-weight: bold;
  padding: 0.25rem 1rem;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-header::before {
  content: "▼";
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.7em;
  transition: transform 0.2s ease;
}
.sidebar #recipe-list .category .category-items .subcategory.collapsed .subcategory-header::before {
  transform: rotate(-90deg);
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-items {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1.1rem;
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-items .recipe-item {
  margin: 0 1rem 0 0;
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-items .recipe-item .recipe {
  color: var(--sidebar-fg-color);
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
}
.sidebar #recipe-list .category .category-items .subcategory .subcategory-items .recipe-item .recipe.active {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
.sidebar #recipe-list .category.collapsed .category-items {
  display: none;
}
.sidebar #recipe-list .category .subcategory.collapsed .subcategory-items {
  display: none;
}

.context-menu {
  position: fixed;
  background: var(--popover-bg-color);
  color: var(--popover-fg-color);
  display: none;
}

.context-menu-item {
  padding: 4px 8px;
  cursor: pointer;
}
.context-menu-item:hover {
  background: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.toast {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: transparent;
}
.toast.success {
  background-color: var(--success-bg-color);
  color: var(--success-fg-color);
}
.toast.error {
  background-color: var(--error-bg-color);
  color: var(--error-fg-color);
}
.toast.hidden {
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  color: transparent;
  transition: all 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.CodeMirror-foldmarker, .CodeMirror {
  font-family: system-ui, sans-serif;
}

.CodeMirror-foldmarker {
  text-shadow: none !important;
  color: var(--editor-frontmatter-color) !important;
  margin-left: 2ch !important;
}

.CodeMirror-foldgutter-folded, .CodeMirror-foldgutter-open {
  line-height: 1;
  font-size: 1.25rem;
}

.CodeMirror {
  height: 100vh;
  width: 100%;
  padding: 1rem 1.5rem 1rem 0.5rem;
  background: var(--view-bg-color);
  color: var(--view-fg-color);
}
.CodeMirror-line {
  text-indent: -2ch !important;
  padding-left: 5ch !important;
}
.CodeMirror-line:has(.cm-recipe-prefix), .CodeMirror-line:has(.CodeMirror-foldmarker) {
  padding-left: 3ch !important;
}
.CodeMirror-line:has(.cm-recipe-frontmatter) {
  text-indent: 0 !important;
  padding-left: 30px !important;
}
.CodeMirror-line:has(.cm-recipe-ingredient), .CodeMirror-line:has(.cm-recipe-unit) {
  text-indent: 0 !important;
  padding-left: 30px !important;
}
.CodeMirror-gutters {
  background: var(--editor-gutter-bg-color);
  border-right: 1px solid var(--editor-gutter-border-color);
}
.CodeMirror-linenumber {
  color: var(--editor-linenumber-color);
}
.CodeMirror-selected {
  background: var(--editor-selection-color) !important;
}
.CodeMirror-cursor {
  border-left: 1px solid var(--editor-cursor-color);
}

.cm-recipe-title {
  color: var(--editor-title-color);
  font-weight: bold;
  font-size: 1.5rem;
  vertical-align: middle;
}
.cm-recipe-subtitle {
  color: var(--editor-subtitle-color);
  font-weight: bold;
  font-size: 1.25rem;
  vertical-align: middle;
}
.cm-recipe-prefix {
  color: var(--editor-prefix-color);
  font-family: "Source Code Pro", "Fira Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  vertical-align: middle;
}
.cm-recipe-ingredient {
  color: var(--editor-ingredient-color);
  vertical-align: middle;
}
.cm-recipe-step {
  color: var(--editor-step-color);
  vertical-align: middle;
}
.cm-recipe-description {
  color: var(--editor-description-color);
  vertical-align: middle;
}
.cm-recipe-frontmatter {
  color: var(--editor-frontmatter-color);
  vertical-align: middle;
}

.error-line {
  text-decoration: underline wavy var(--editor-error-color);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
}

/*# sourceMappingURL=app.css.map */
